@CHARSET "utf-8";

#msgblock{
	display: block;
	margin: 80px auto 80px auto;
	border: 1px solid #cccccc;
	border-radius: 4px;
	padding: 10px;
	width: 400px;
	background-color: #DCF4DC;
}

#msgblock header span{
	font: bold 16px arial;
	color: red;
	margin-bottom: 10px;
}

#msgblock section span{
	font: normal 12px calibri;
	color: #202020;
	padding: 5px 0 10px 0;
}