@CHARSET "UTF-8";

#editUserSection{
	border: 1px solid #a5a5a5;
}
/********************************************
************EDIT USER HEADER*****************
*********************************************/
#editUserSection > header{
	font: bold 16px calibri;
	margin-bottom:20px;
	background-color: #a5a5a5;
	padding-left: 10px;
	height: 25px;
}
#editUserSection > header #title{
	display: inline-block;
	border: 0px solid orange;
	width: 430px;
	color: #000
}

#frmEditUser{
	border: 1px solid #cccccc;
	padding: 10px;
	margin-bottom: 10px;
}

.lbledit{
	display: inline-block;
	width: 150px;
	font: normal 14px verdana;
	color: #2D2C2C;
	margin: 0 0 5px 0;
}

.txtedit{
	display: inline-block;
	width: 180px;
	border: 1px solid #2D2C2C;
	height: 20px;
	padding: 0 5px;
	font: bolder 14px calibri;
	color: #9E6060;
	margin: 0 0 5px 0;
}

#frmBtns{
	border: 0px solid #aaaaaa;
	padding: 10px;
}

#btnEditUser{
	width: 120px;
}