@CHARSET "utf-8";

body{
	background-color: #FBFBEF;
}
*
{
	margin: 0px;
	padding: 0px;
}
div, section, article, header, footer, nav
{
	display: block;
}
#container{
    width: 800px;
    min-height: 600px;
    margin: 0 auto;
    border-radius: 6px;
    display: box;
}
#hd{
    height: 164px;
    text-align: center;
}
#nav{
    border-top: 1px solid orangered;
    border-bottom: 1px solid orangered;
    width: 800px;
    height: 32px;
    line-height: 26px;
    padding: 5px 0;
}
#nav ul li{
    display: inline-block;
    list-style: none;
    border: 1px solid blueviolet;
    border-radius: 4px;
    width: 120px;
    height: 30px;
    text-align: center;
    background-color: whitesmoke;
}
#nav ul li a, #nav ul le a:active{
    text-decoration: none;
    color: mediumvioletred;
    font: normal 12px verdana;
    
}
#mainsection{
    width: 778px;
    margin: 4px auto;
    height: auto;
    border: 1px solid darkslategray;
    border-radius: 4px;
    padding: 10px;
}

#hdrTitle{
	font: bolder 15px arial;
	color: #2D2C2C;
	margin-bottom: 20px;
}

#mainFooter{
	padding: 40px 20px;
	border: 0px solid red;
	background-color: #404160;
	height: 100px;
	margin-bottom: 20px;
}

#ftrRights, #ftrAddress{
	float: left;
	/*display: inline-block;*/
	border: 0px solid gray;
}

#ftrRights, #ftrAddress p{
	font: normal 14px calibri;
	color: #F2F2F2;
}

#ftrRights{
	margin: 0 200px 0 0;
}

#address p{
	font: normal 12px calibri;
	color: #F2F2F2;
	margin: 0 0 0 20px;
}

#wrapper{
	height: auto;
}