@CHARSET "utf-8";

#newUserSection{
	
}

#frmUser{
	border: 1px solid #cccccc;
	padding: 10px;
	margin-bottom: 10px;
}

#frmAddress{
	border: 1px solid #cccccc;
	padding: 10px;
	margin-bottom: 10px;
}

#login{
	border: 1px solid #FFC477;
	padding: 10px;
	margin-bottom: 10px;
}

#frmBtns{
	border: 0px solid #aaaaaa;
	padding: 10px;
}

.buttons{
	width: 120px;
}

.lblNew{
	display: inline-block;
	width: 150px;
	font: normal 14px verdana;
	color: #2D2C2C;
	margin: 0 0 5px 0;
}

.txtNew{
	display: inline-block;
	width: 180px;
	border: 1px solid #2D2C2C;
	height: 30px;
	padding: 0 10px;
	font: bolder 14px calibri;
	color: #303030;
	margin-bottom: 5px;
}

#divError{
	border: 0px solid #909090;
	width: 214px;
	height: 0px;
	display: inline-block;
}
.error{
	color: red;
	font: normal 12px calibri;
}

/********************************/
/*:::::::::DOB SECTION::::::::::*/
#blockDob{
	height: 32px;
	border: 0px solid #666666;
	margin-bottom: 5px;
}

#inDatePicker, #inDatePicker.selNew{
	display: inline-block;
}

.selNew option{
	display: block;
	padding-left: 10px;
	color: #303030;
}

#blockDob select, .selNew{
	padding: 0 10px;
	height: 30px;
	border: 1px solid #606060;
	border-radius: 2px;
}

select#pickMonth{
	width: 150px;
}

select#pickDay{
	width: 60px;
}

select#pickYear{
	width: 100px;
}

