@CHARSET "utf-8";

#lblFindUserById{
	display: inline-block;
	width: 40px;
	font: normal 14px verdana;
	color: #2D2C2C;
	margin: 20px 0 5px 0;
}

#txtUserid{
	display: inline-block;
	width: 100px;
	border: 1px solid #2D2C2C;
	height: 20px;
	padding: 0 10px;
	font: bolder 14px calibri;
	color: #9E6060;
	margin: 20px 10px 5px 0;
}

#btnfindUser{
	display: inline-block;
	width: 100px;
	background-color: #7A90A0;
	color: #EFE6E6;
	border: 1px solid #303030;
	margin: 20px 0 5px 0;
}
