@CHARSET "utf-8";

#lblFindUserById{
	display: inline-block;
	width: 100px;
	font: normal 14px verdana;
	color: #2D2C2C;
	margin: 20px 0 5px 0;
}

#txtUserid{
	display: inline-block;
	width: 100px;
	border: 1px solid #2D2C2C;
	height: 20px;
	padding: 0 10px;
	font: bolder 14px calibri;
	color: #9E6060;
	margin: 20px 10px 5px 0;
}

#btnfindUser{
	display: inline-block;
	width: 100px;
	background-color: #7A90A0;
	color: #EFE6E6;
	border: 1px solid #303030;
	margin: 20px 0 5px 0;
	padding: 0px;
	height: 23px;
}


/*******STYLES FOR USER TABLE*********/

#getUsers{
	margin-top: 40px;
	border: 0px solid #303030;
}

.tblHeader{
	font: normal 12px verdana;
	color: #606060;
	text-align: left;
}
.tblHeader tr{
	background-color: #C9E4FF;
}
.tblBody{
	font: normal 12px calibri;
	color: #303030;
	text-align: left;
}
.tblBody tr{
	background-color: #EFFFF3;
}

.col1{
	width: 80px;
}
.col2{
	width: 100px;
}
.col3{
	width: 100px;
}
.col4{
	width: 150px;
}
.col5{
	width: 100px;
}
