@CHARSET "UTF-8";


/*****************************************************************
/// PERSONAL USER INFO BLOCK
*****************************************************************/
#userInfoBlock{
	
}

#blcUserPersonalInformation{
	border: 1px solid #a5a5a5;
}

/*****************************************
****PERSONAL INFORMATION HEADER DESIGN****
******************************************/
#hdrPersonalInfo{
	font: bold 16px verdana;
	margin-bottom:20px;
	background-color: #a5a5a5;
	padding-left: 10px;
	height: 25px;
}
#hdrPersonalInfo #title{
	display: inline-block;
	border: 0px solid orange;
	width: 430px;
	font-family: calibri;
}
#hdrPersonalInfo #controls{
	display: inline-block;
	border: 0px solid green;
	width: 120px;
	text-align: right;
}
#hdrPersonalInfo #controls div{
	display: inline-block;
	border:0px solid blue;
	width: 20px;
}

































/*****************************************
***PERSONAL INFORMATION SECTION DESIGN****
******************************************/
#secPersonalInfo{
	margin-bottom: 20px;
	padding: 10px;
}
#secPersonalInfo #leftBlock{
	display: inline-block;
	border: 1px solid red;
	height: 132px;
	width: 102px;
	vertical-align: top;
	margin-right: 50px;
}
#secPersonalInfo #mainBlock{
	display: inline-block;
	border: 0px solid red;
	width: 350px;
	vertical-align: top;
}
#usrName{
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 10px;
}
table .infoname{
	width: 150px;
	font: bold 12px calibri;
}
table .infovalue{
	border: 0px solid red;
	font: normal 12px calibri;
}




























.btmMngUsers{
	display: inline-block;
	height: 20px;
	width: 150px;
	padding: 0 10px;
	border: 1px solid #303030;
	background-color: #e6e6e6;
	font: normal 14px calibri;
	color: #FF4507;
}

#ftrPersonalInfo{
	
	margin: 0 0 20px 10px;
}

#ftrPersonalInfo a{
	text-decoration: none;
}

/*****************************************************************
/// PERSONAL USER INFO TABLE
*****************************************************************/
